@import 'variables.scss';

body {
  color: $base-font-color;
  font-family: $base-font-family;
  background-color: $base-background-color;
  font-size: .8em;
  padding: 1rem;
  line-height: 1.5;
}

h3 {
    margin-top: 2rem;
}

.inline-photo {
  max-width:30vw;
  border-radius:20px;
  margin: 2vw 0;
}

.header-container {
  .header-photo {
    max-width:20vw;
    border-radius:20px;
    float:right;
    margin-right:1vw;
    margin-left:5vw;
  }
  .header-photo:hover {
    z-index: 100;
    height: auto;
    border: 5px solid #444;
    border-radius: 20px;
    max-width: 85vw;
    max-height: 85vh;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
  }
}

.discography {

  // select which columns should be shrunk
  .table-cell--shrink-to-fit,
  td:nth-child(1),
  td:nth-child(2),
  td:nth-child(3),
  td:nth-child(4) {
    width: 0.1%;
  }
  // select which columns should be nowrap
  .table-cell--nowrap,
  td:nth-child(3) {
    white-space: nowrap;
  }
  h5 {
    text-decoration: underline;
  }
  table {
    //border-collapse: collapse;
    margin: .25rem;
  }
  th {
    text-align: left;
    font-size: .5rem;
    padding: 0 .5rem;
    border-bottom: 1px solid $table-separator-color;
  }
  td {
    vertical-align: top;
    border: 0;
    padding: .25rem .5rem;
    border-bottom: 1px dashed $table-separator-color;
  }
}

.disc-entry--year {
  font-size: .8rem;
}
.disc-entry--art {
  height: 4rem;
  width: 4rem;
  img {
    height: 100%;
    // transition: height 40ms;
  }
}
.disc-entry--art:hover {
  img {
    z-index: 100;
    height: auto;
    border: 5px solid #444;
    border-radius: 5px;
    max-width: 85vw;
    max-height: 85vh;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);
  }
}
.disc-entry--title {
  font-style: italic;
  font-weight: bold;
}
.disc-entry--links {
  white-space: nowrap;
  img {
    height: 1.25rem;
    position: relative;
    top: -1px;
  }
}
.disc-entry--details {
  font-size: .75rem;
}

.footer {
  margin: 2rem 0;
  font-size: .75rem;
}
